<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>STUDENT CONTACT FORM</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Телефон</th>
        <th>Почта</th>
        <th>Выбрать</th>
    </tr>
    </thead>
    <tbody>
    <form id="contactForm" action="" method="post" th:object="${toSend}">
        <input type="hidden" th:each="selectedContact : ${selectedContacts}" th:value="${selectedContact}" name="selectedContacts" />
        <tr th:each="contact : ${contacts}">
            <td>
                <input type="checkbox" th:value="${contact.id}" name="selectedContactIds">
                <span th:text="${contact.id}"></span>
            </td>
            <td th:text="${contact.first_name}"></td>
            <td th:text="${contact.last_name}"></td>
            <td th:text="${contact.middle_name}"></td>
            <td th:text="${contact.phone}"></td>
            <td th:text="${contact.email}"></td>
        </tr>
    </form>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="7">
            <button onclick="submitForm()">Удалить выбранный контакт</button>
        </td>
    </tr>
    </tfoot>
</table>

<!-- Форма для добавления нового контакта -->
<form id="addContactForm" action="/add/contact" method="post">
    <label>
        <br>Введите данные нового контакта:<br>
        <input type="text" maxlength="140" name="first_name" placeholder="Имя">
        <input type="text" maxlength="140" name="last_name" placeholder="Фамилия">
        <input type="text" maxlength="140" name="middle_name" placeholder="Отчество">
        <input type="text" maxlength="140" name="phone" placeholder="Телефон">
        <input type="text" maxlength="140" name="email" placeholder="Почта">
    </label>
    <input type="submit" value="Добавить контакт">
</form>

<script>
    function submitForm() {
    var form = document.getElementById('contactForm');
    var checkboxes = form.querySelectorAll('input[name="selectedContactIds"]:checked');
    var selectedIds = [];
    for (var i = 0; i < checkboxes.length; i++) {
        selectedIds.push(checkboxes[i].value);
    }
    form.selectedContactIds.value = selectedIds.join(',');
    form.action = '/api/contact/delete'; // Установите правильный URL для обработки запроса
    form.submit();
}
</script>

</body>
</html>