<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>STUDENT CONTACT FORM</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Телефон</th>
        <th>Почта</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.firstname}"></td>
        <td th:text="${contact.tel}"></td>
        <td th:text="${contact.email}"></td>
    </tr>
    </tbody>
</table>
<form action="" method="post" th:object="${toSend}">
    <label>
        Введите данные контакта
        <input type="text" maxlength="140" th:field="*{firstname}">
        <input type="text" maxlength="140" th:field="*{tel}">
        <input type="text" maxlength="140" th:field="*{email}">
    </label>
    <input type="submit" value="отправить">
</form>
</body>
</html>