<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>STUDENT CONTACT FORM</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Телефон</th>
        <th>Почта</th>
        <th>Выбрать</th>
    </tr>
    </thead>
    <tbody>
    <form id="contactForm" action="" method="post" th:object="${toSend}">
        <input type="hidden" th:each="selectedContact : ${selectedContacts}" th:value="${selectedContact}" name="selectedContacts" />
        <tr th:each="contact : ${contacts}">
            <td>
                <input type="checkbox" th:value="${contact.id}" name="selectedContactIds">
                <span th:text="${contact.id}"></span>
            </td>

            <td th:text="${contact.firstName}"></td>
            <td th:text="${contact.lastName}"></td>
            <td th:text="${contact.middleName}"></td>
            <td th:text="${contact.phone}"></td>
            <td th:text="${contact.email}"></td>
        </tr>
    </form>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="7">
            <!-- Кнопка для удаления выбранных контактов -->
            <button onclick="submitForm()">Удалить выбранный контакт</button>
            <!-- Кнопка для открытия страницы добавления нового контакта -->
            <button onclick="openAddContactPage()">Добавить контакт</button>
            <button onclick="editContact('${contact.id}')">Редактировать</button>
        </td>
    </tr>
    </tfoot>
</table>

<!-- Скрипт для перехода на страницу добавления контакта -->
<script th:inline="javascript">
    function openAddContactPage() {
        window.location.href = /*[[@{/api/contact/add_contact_form.html}]]*/ '/add_contact_form.html'; // Переход на страницу для добавления контакта
    }

    function submitForm() {
        var form = document.getElementById('contactForm');
        var checkboxes = form.querySelectorAll('input[name="selectedContactIds"]:checked');
        var selectedIds = [];
        for (var i = 0; i < checkboxes.length; i++) {
            selectedIds.push(checkboxes[i].value);
        }
        form.selectedContactIds.value = selectedIds.join(',');
        form.action = '/api/contact/delete'; // Установите правильный URL для обработки запроса
        form.submit();
    }

   function openEditContactPage() {
   var form = document.getElementById('contactForm');
        var checkboxes = form.querySelectorAll('input[name="selectedContactIds"]:checked');
        var selectedIds = [];
        for (var i = 0; i < checkboxes.length; i++) {
            selectedIds.push(checkboxes[i].value);
        }
        form.selectedContactIds.value = selectedIds.join(',');
              window.location.href = /*[[@{/api/contact/edit_contact_form.html}]]*/ '/edit_contact_form.html'; // Переход на страницу для добавления контакта

}
</script>

</body>
</html>