<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Contact Form</title>
</head>
<body>

<form id="addContactForm" action="/api/contact/add/contact" method="post">
    <label>
        <br>Введите данные нового контакта:<br>
        <input type="text" maxlength="140" name="id" placeholder="id">
        <input type="text" maxlength="140" name="firstName" placeholder="Имя">
        <input type="text" maxlength="140" name="lastName" placeholder="Фамилия">
        <input type="text" maxlength="140" name="middleName" placeholder="Отчество">
        <input type="text" maxlength="140" name="phone" placeholder="Телефон">
        <input type="text" maxlength="140" name="email" placeholder="Почта">
    </label>
    <input type="submit" value="Добавить контакт">
</form>

</body>
</html>